/crops
/histogram
/masked_images
/models
/patches
/patches_v2
/patches_v4
/sam_masks
/sam_masks_new
/sam_masks_new_3
/sam_masks_new_4
/sam_masks_new_5
/sam_masks_new_6
/activations
/trash
/xai
/activations
/activations2
/concepts
/Craft
/fossils_concept
/fossils_viz
/histogram
/maco
/maskedimages
/mask_images_all_leaves
/mask_images_all_leaves2
/new_models
